<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="2" name="TrendyolTest">
        <classes>
            <class name="tests.TestsSenarioRunner"></class>
        </classes>
        
    </test>
    <listeners>
        <listener class-name="tests.AllureListener"></listener>
    </listeners>
</suite>